body {
    background-color: black;
}

img {
    max-width: 30%;
}

p {
    flex-basis: 70%;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;

    margin: auto;
    max-width: 90%;
    font-size: 1.5vw;
}